@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Open+Sans:wght@300&family=Roboto&display=swap");
:root {
    --robo: "Roboto", sans-serif;
    --lato: "Lato", sans-serif;
    --open: "Open Sans", sans-serif;
    --green: #78e08f;
    --orange: #fd8754;
    --pink: #ef5777;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    /* 1rem = 10px */
    font-family: var(--robo);
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-size: 1.6rem;
    line-height: 1.3;
    overflow-x: hidden;
}

@media (min-width: 768px) {
    body {
        line-height: 2;
        overflow-x: hidden;
    }
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
}


/* GLOBALS */

.container {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

img {
    max-width: 100%;
}

.section {
    padding: 3rem 0;
}

.section h2 {
    margin-top: 0;
}


/* UTILITIES */

.flexi {
    display: flex;
}

h2 {
    font-size: 2.4rem;
    text-transform: uppercase;
    text-align: center;
    font-family: var(--lato);
}

.parallax::before {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    -webkit-filter: brightness(0.8);
    filter: brightness(0.8);
}


/* Navbar */

nav {
    justify-content: space-around;
    align-items: center;
    background-color: #262626;
    height: 6.8rem;
    min-height: 8vh;
    transition: .5s;
}

@media (min-width: 768px) {
    nav {
        background-color: rgba(0, 0, 0, 0);
    }
}

.logo {
    display: flex;
    align-items: center;
}

.logo h4 {
    color: #fff;
    font-weight: bold;
    letter-spacing: 5px;
    font-size: 2.2rem;
    text-shadow: 0 0 8px rgba(0, 0, 0, 1)
}

.logo img {
    width: 5rem;
    height: 5rem;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.nav-links li {
    list-style: none;
    transition: all .3s ease-in;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.4rem;
    text-shadow: 0 0 8px rgba(0, 0, 0, 1)
}

.nav-links li:hover {
    -webkit-transform: scale(1.1);
    color: rgb(252, 232, 232);
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 2.5rem;
    height: 3px;
    background-color: rgb(226, 226, 226);
    margin: 5px;
    transition: all .3s ease;
}

@media (max-width: 1024px) {
    .nav-links {
        width: 60%;
    }
}

@media (max-width: 768px) {
    body {
        overflow-x: hidden;
    }
    .nav-links {
        position: absolute;
        right: 0;
        height: 92vh;
        top: 8vh;
        background-color: #262626;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform .5s ease-in;
    }
    .nav-links li {
        opacity: 0;
    }
    .nav-links a {
        color: #eee;
    }
    .burger {
        display: block;
    }
}

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

.black {
    background-color: #262626;
}

.black a,
.black h4 {
    color: #e1e1e1;
}

nav.fixed {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
}

.lleno {
    height: 6.8rem;
}


/* BANNER */

.hero {
    background-image: url(../img/wang-xi-RTrZvGlvlQc-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100vh;
    position: relative;
}

@media (min-width: 768px) {
    .hero {
        height: 75vh;
    }
}

div.hero:after {
    position: absolute!important;
    background-color: rgba(0, 0, 0, .3);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.search-container h2 {
    font-family: var(--lato);
    font-weight: bold;
    color: #fff;
    font-size: 4rem;
    letter-spacing: .5;
    margin: 1rem 0 1.5rem 0;
    -webkit-text-stroke: 1px rgb(179, 178, 178);
    text-shadow: 0 0 40px rgba(0, 0, 0, 1);
}

@media (min-width: 768px) {
    .search-container h2 {
        margin: 7rem 0 1.5rem 0;
    }
}

.announce {
    text-align: center;
    color: #fff;
    font-size: 2.2rem;
    font-weight: 400;
    margin-bottom: 1rem;
    -webkit-text-stroke: .3px rgb(179, 178, 178);
    text-shadow: 0 0 20px rgba(0, 0, 0, 1);
}

@media (min-width: 768px) {
    .announce {
        margin-bottom: 4rem;
    }
}

.search {
    justify-content: space-between;
}

.content-form-search {}

@media (min-width: 768px) {
    .content-form-search {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
    }
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
}

select::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background-color: #ccc;
}

.searcher {
    background: #f9f9f9;
    color: #888;
    padding: 1rem;
    width: 95%;
    height: 4.5rem;
    border: none;
    border-radius: 5px;
    font-size: 1.8rem;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 1);
    margin-bottom: 1rem;
}

@media (min-width: 768px) {
    .searcher {
        margin: 0;
    }
}

.send {
    background-color: #78e08f;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    transition: all .5s ease;
}

.send:hover {
    background-color: #69be7b
}


/* RECOMENDACIONES */

.recommendations {
    display: block;
    align-items: center;
    justify-content: space-evenly;
    width: 300px;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .recommendations {
        display: flex;
        width: auto;
    }
}

.card {
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 210px 210px 8rem;
    grid-template-areas: 'image' 'text' 'stats';
    font-family: var(--robo);
    border-radius: 18px;
    background: #f8f8f8;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, .9);
    text-align: center;
    transition: all .5s ease;
    margin-bottom: 2rem;
}

@media (min-width: 768px) {
    .card {
        margin-bottom: 2rem;
    }
}

.card-image.one {
    grid-area: image;
    background: url(../img/1.jpg);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
}

.card-image.two {
    grid-area: image;
    background: url(../img/2.jpg);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
}

.card-image.three {
    grid-area: image;
    background: url(../img/3.jpg);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
}

.card-text {
    grid-area: text;
    margin: 25px;
}

.card-text .date {
    font-size: 1.3rem;
}

.card-text .date.greenT {
    color: var(--green);
}

.card-text .date.orangeT {
    color: var(--orange);
}

.card-text .date.pinkT {
    color: var(--pink);
}

.card-text p {
    color: grey;
    font-weight: 300;
    line-height: 1.1;
}

.card-text h2 {
    margin-top: 0;
    font-size: 2.8rem;
}

.card-stats {
    grid-area: stats;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.greenB {
    background-color: var(--green);
}

.orangeB {
    background-color: var(--orange);
}

.pinkB {
    background-color: var(--pink);
}

.card-stats .stat {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
}

.card-stats .type {
    font-size: 1.1rem;
    font-weight: 300;
    text-transform: uppercase;
}

.card-stats .value {
    font-size: 2.2rem;
    font-weight: 500;
}

.card-stats .bordG {
    border-left: 1px solid #69be7b;
    border-right: 1px solid #69be7b;
}

.card-stats .bordO {
    border-left: 1px solid #ec6b33;
    border-right: 1px solid #ec6b33;
}

.card-stats .bordP {
    border-left: 1px solid #f0335c;
    border-right: 1px solid #f0335c;
}

.card-stats .value sup {
    font-size: 1.2rem;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, .6);
    cursor: pointer;
}


/* FIRST PARALLAX */

.content-parallax {
    padding: 80px 0;
}

.all-houses {
    position: relative;
    height: auto;
}

.all-houses::before {
    content: '';
    background-image: url(../img/para1.jpg);
    z-index: -1;
}

.parallax h1 {
    color: #fff;
    letter-spacing: 8px;
    text-align: center;
    margin-bottom: 2rem;
    font-family: var(--lato);
    font-weight: 700;
}

@media (min-width: 768px) {
    .parallax h1 {
        font-size: 8rem;
        margin: 0;
    }
}

.all-houses a {
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 2rem;
    background-color: #ef5777;
    width: 80%;
    margin: 0 auto;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #eee;
    border-radius: 50px;
    transition: all .3s ease-in-out;
    font-size: 1rem;
}

.all-houses a:hover {
    background-color: #eee;
    color: #ef5777;
}

@media (min-width: 768px) {
    .all-houses a {
        width: 20%;
        font-size: 2rem;
    }
}


/* TESTIMONIALS */

.testimonials {
    padding: 4rem 0;
    background: #f1f1f1;
    color: #434343;
    text-align: center;
}

.inner {
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    padding: 0 2rem;
}

.border {
    width: 16rem;
    height: 5px;
    background: #6ab04c;
    margin: 26px auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.col {
    flex-basis: calc(33.3% - 1rem);
    max-width: 33.3%;
    box-sizing: border-box;
    padding: 15px;
}

.testimonial {
    background: #fff;
    padding: 3rem;
}

.testimonial img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.nameT {
    font-size: 2rem;
    text-transform: uppercase;
    margin: 2rem 0;
}

.stars {
    color: #6ab04c;
    margin-bottom: 2rem;
}

@media (max-width: 960px) {
    .col {
        flex-basis: 100%;
        max-width: 80%;
    }
}

@media (max-width: 600px) {
    .col {
        flex-basis: 100%;
        max-width: 100%;
    }
}


/* FOOTER */

footer {
    background-color: #f1f1f1;
    padding: 9rem 0;
}

.footer {
    margin: auto;
    padding: 0 2rem;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap-reverse;
}

.footer .logo h4 {
    color: #262626;
    text-shadow: none;
}

.social-media {
    margin: 2rem 0;
}

.social-media a {
    color: #001a21;
    margin-right: 2.5rem;
    font-size: 2.2rem;
    text-decoration: none;
    transition: .3s linear;
}

.social-media a:hover {
    color: var(--orange);
}

.rightF h1 {
    font-size: 2.6rem;
}

.borderF {
    width: 10rem;
    height: 4px;
    background: var(--orange);
}

.newslatterF {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.txtb {
    flex: 1;
    padding: 18px 4rem;
    font-size: 1.6rem;
    color: #293043;
    background: #ddd;
    border: none;
    font-weight: 700;
    outline: none;
    border-radius: 30px;
    min-width: 260px;
}

.btnF {
    flex: 1;
    padding: 18px 4rem;
    font-size: 1.6rem;
    color: #fff;
    background: var(--pink);
    border: none;
    font-weight: 700;
    outline: none;
    border-radius: 30px;
    margin-left: 20px;
    cursor: pointer;
    transition: opacity .3s linear;
}

.btnF:hover {
    opacity: .7;
}

@media (max-width: 996px) {
    .footer {
        max-width: 600px;
        margin-bottom: 60px;
    }
    .leftF {
        width: 100%;
        text-align: center;
    }
}

@media (max-width: 700px) {
    .btnF {
        margin: 0;
        width: 100%;
        margin-top: 2rem;
    }
}